modules/stepfunction/sfn.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Get Organizations",
    "States": {
      "Get Organizations": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${get-organizations}"
        },
        "Next": "Organization Mapping"
      },
      "Organization Mapping": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "Get Workspaces",
          "States": {
            "Get Workspaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${get-workspaces}"
              },
              "Next": "Workspace Mapping"
            },
            "Workspace Mapping": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Map Rules to Workspace",
                "States": {
                  "Map Rules to Workspace": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "Payload.$": "$",
                      "FunctionName": "${rules-to-workspace}"
                    },

                    "Next": "Rules Found"
                  },
                  "Rules Found": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Not": {
                          "Variable": "$.rule_keys",
                          "IsPresent": true
                        },
                        "Next": "No Rules apply"
                      }
                    ],
                    "Default": "Apply Rules"
                  },
                  "No Rules apply": {
                    "Type": "Succeed"
                  },
                  "Apply Rules": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "Payload.$": "$",
                      "FunctionName": "${apply-rules}"
                    },
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        },
        "Next": "Create Report"
      },
      "Create Report": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${create-report}"
        },

        "End": true
      }
    }
  }